:root {
  --ff-text: "Source Sans Pro", sans-serif;
  --ff-number: "Rubik", sans-serif;

  --clr-primary-100: hsl(227 20% 17%);
  --clr-green-100: hsl(118 52% 44%);
  --clr-green-200: hsl(118 52% 34%);
  --clr-red-100: hsl(3 78% 53%);
  --clr-red-200: hsl(3 78% 38%);
  --clr-white: hsl(0 0% 100%);

  --fs-600: 2.4rem;
  --fs-400: 1.6rem;

  --fw-text-400: 400;
  --fw-text-700: 700;
  --fw-number-400: 400;
  --fw-number-400: 600;
}

@media (min-width: 60em) {
  :root {
    --ff-600: 3.2rem;
    --fs-400: 2.4rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
  font-kerning: auto;
}

html,
body {
  width: 100vw;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--ff-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-text-400);
  line-height: 1.5;
  color: var(--clr-white);
  background-color: var(--clr-primary-100);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
